button {
  padding: 15px 30px;
  font-size: 24px;
  text-transform: uppercase;  
  border: none;
  font-weight: 700;
  font-family: monospace;
  box-shadow:
    5px 8px 5px rgba(0, 0, 0, 0.5),
    2px 4px 0 0 red;
  
  border-radius: 4px;
  background-color: tomato;
  cursor: pointer;
  outline: none;
}

button:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 99, 71, 0.7);
}

.btn--pressed {
  transform: scale(0.98);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: rgba(255, 99, 71, 0.5) !important;
  box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.4);
}